<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="INPUT_CSV_FILE" value="bin/Reference.DiagnosisCodes.small.csv" />
  </appSettings>
  
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
  
</configuration>
