<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="INPUT_CSV_FILE" value="[resources]/Reference.DiagnosisCodes.small.csv"/>
  </appSettings>

  <runtime>
    <gcServer               enabled="true" />
    <gcConcurrent           enabled="true" />
    <Thread_UseAllCpuGroups enabled="true" />
    <GCCpuGroup             enabled="true" />
  </runtime>

  <!--<system.webServer>
    <security>
      <requestFiltering>
        --><!-- Handle requests up to 1 GB --><!--
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>-->
</configuration>
