<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="INPUT_CSV_FILE" value="../../Reference.DiagnosisCodes.web.demo/[resources]/Reference.DiagnosisCodes.csv"/>
  </appSettings>

  <runtime>
    <gcServer enabled="true"/>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
